fastapi
uvicorn
python-dotenv
openai
openpyxl
python-docx
PyPDF2
pandas
tiktoken
requests
weaviate-client[embedded]
sentence-transformers==2.2.2
# pip install torch==2.2.0+cpu torchvision==0.24.1+cpu -f [https://download.pytorch.org/whl/torch_stable.html](https://download.pytorch.org/whl/torch_stable.html)