body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    margin: 10px 0;
}

#chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;

    max-height: calc(100vh - 120px);
    width: 90%;
    margin: 10px auto;
    box-sizing: border-box;

    background-color: #676161;
    border-radius: 8px;
    color: #000;
}

.message {
    padding: 8px 12px;
    margin: 5px;
    max-width: 60%;
    border-radius: 12px;
    word-wrap: break-word;
    white-space: pre-wrap;
}


.user-msg {
    background-color: #e0f7ff;
    align-self: flex-start;
    border-top-left-radius: 0;
}

.assistant-msg {
    background-color: #d4ffd4;
    align-self: flex-end;
    border-top-right-radius: 0;
}

.input-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    justify-content: center;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    z-index: 100;
    max-width: 800px;
    width: 100%;
}

#prompt {
    flex: 1;
    padding: 8px 12px;
    font-size: 16px;
    min-width: 200px;
    max-width: 700px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #aaa;
    background-color: #444;
    color: #fff;
}

button:hover {
    background-color: #666;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    max-width: 350px;
    background-color: #255595;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 10;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: auto;
}

.inner-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #000;
    text-decoration: underline;
}

.inner-tooltip .inner-tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    top: 0;
    right: 100%;
    transform: translateX(-5px);
    z-index: 20;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: auto;
}
